body{
    background-color: blue;
    color: springgreen;
}
p {
    text-align: center;
    text-underline: blueviolet;
    font-size: 60px;
    color: springgreen;
}

h4 {
    font-style: italic;
    text-align: center;
}

table, th, td {
    border: 1px solid springgreen;
    border-collapse: collapse;
    color: springgreen;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}
mypicture.center{
    margin-left: 600px;
    margin-right: auto;

}
h5{

}